<%- include('../partials/header') %>

   <%= message %>
  <form class="form-signin" action="/auth/register" method="POST">
    Account Type: <select name="account">
                    <option value="Landlord">Landlord</option>
                    <option value="Tenant">Tenant</option>
                </select><br>
  <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
  </div>
     <a href="#">Forgot Password? </a> 

  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
</form>

<%- include('../partials/footer') %>