<header class="masthead mb-auto">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/properties">Properties</a>
        <a class="nav-link" href="/properties/new">New Property</a>
        <a class="nav-link" href="/properties/maintenance">Maintenence</a>
        <a class="nav-link" href="/auth/logout">Logout</a>
      </nav>
    </div>
</header>