<%- include('./partials/header') %>
<body>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Cloud-Based Software</h1>
    <p class="lead">Real Estate Management</p>
    <p> Simplifed </p>
    <p class="lead">
      <a href="/auth/register" class="btn btn-lg btn-success">Create an Account</a>
    </p>
  </main>
  <br>
  <section>
  <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add Properties and Invite Tenants</h4>
      <p class="card-text">Easily add multiple properties and tenants.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Rent Collection</h4>
      <p class="card-text">Set up monthly rent collection for free.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Easy Maintenence</h4>
      <p class="card-text">Seamless housing maintenence scheduling.</p>
    </div>
  </div>
</div>


  </section>
</div>



<%- include('./partials/footer') %>
