<%- include('./partials/header') %>

<body>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Cloud-Based Software</h1>
    <p class="lead">Real Estate Management</p>
    <p> Simplifed </p>
    <p class="lead">
      <a href="/auth/register" class="btn btn-lg btn-success">Create an Account</a>
    </p>
  </main>

  <%= message %>

  <form class="form-signin" action="/auth/register" method="POST">
  <img class="mb-4" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Landlord Registration</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
  </div>
     <a href="#">Forgot Password? </a> 

  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
</form>

  <form class="form-signin" action="/auth/login" method="POST">
  <img class="mb-4" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Login</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
 
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>

  <footer class="mastfoot mt-auto">
    <div class="inner">
    </div>
  </footer>
</div>

<%- include('./partials/footer') %>
