<%- include('./partials/header') %>
<body>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Cloud-Based Software</h1>
    <p class="lead">Real Estate Management</p>
    <p> Simplifed </p>
    <p class="lead">
      <a href="/auth/register" class="btn btn-lg btn-success">Create an Account</a>
    </p>
  </main>
</div>



<%- include('./partials/footer') %>
