<%- include('../partials/header') %>

<h2>New Property</h2>
<form class="property1" action="/properties" method="POST">

  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="validationDefault01">Address</label>
      <input type="text" class="form-control" id="validationDefault01" name="address" placeholder="Address" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">City</label>
      <input type="text" class="form-control" id="validationDefault03" name="city" placeholder="City" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault04">State</label>
      <input type="text" class="form-control" id="validationDefault04" name="state" placeholder="State" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Zip</label>
      <input type="number" class="form-control" id="validationDefault05" name="zip" placeholder="Zip" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Create New Property</button>
</form>
 

<%- include('../partials/footer') %>
