<%- include('../partials/header') %>

<h2>Invite a New Tenant</h2>
<form class="property1" action="/properties/<%= property._id %>/add-tenant" method="POST">
  <input type="email" name="email" class="form-control" placeholder="Email" required autofocus><br>
  <button class="btn btn-primary" type="submit">Send Tenant Invite</button>
</form>
 

<%- include('../partials/footer') %>
