<%- include('../partials/header') %>
  <main>
<h2>New Maintence Request</h2>  
<ul><a href="/auth/logout">Log Out</a></ul>

<br>
<form action="/properties/<%= propId %>/add-maintreq" method="POST">
    <textarea type="text" class="form-control"  name="problem" placeholder="What's the problem?"></textarea>  
    <button class="btn btn-primary" type="submit">Submit Request</button>
</form><br>

</main>
<%- include('../partials/footer') %>